MONGODB_URI=Enter_your_url
JWT_SECRET=Enter_your_secret_key
ADMIN_EMAIL=Enter_Admin_Email
ADMIN_PASSWORD=Enter_Admin_Password
PORT=3000
FRONTEND_URL=https://your-frontend-url.com
VITE_GITHUB_TOKEN=ghp_your_personal_access_token_here
VITE_AGORA_APP_ID=your_agora_app_id_here

# EmailJS Credentials
EMAILJS_SERVICE_ID=service_ubib77f
EMAILJS_PUBLIC_KEY=grfuLgsZk39gcdSc8
EMAILJS_PRIVATE_KEY=2Xcx7C4aIffIHZU-frRFo
EMAILJS_TEMPLATE_ID=template_hackord

GOOGLE_CLIENT_ID=your_google_client_id_here.apps.googleusercontent.com
GITHUB_CLIENT_ID=your_github_client_id_here
GITHUB_CLIENT_SECRET=your_github_client_secret_here
